<div class="jumbotron container mt-5">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead display-6">Mi nombre es Henry Alberto Chavez Chavez</p>
    <hr class="my-4">
    <p>Trabajo como desarrollador de software hace 15 años, ultimamente estuve desarrollando aplicaciones clasicas en mvc y cosas en azure, pero programar en distintas tecnologias nunca se olvida, es como manejar bicicleta, siempre queda el recuerdo.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/hachch1984/" role="button"><i class="bi bi-linkedin me-3"></i>Conoce un poco mas de mi</a>
    </p>
  </div>
